body {
    background-color: #ededed;                   
}                              


#nav-bar{                      
    width:100%;
    top:0;
    left:0;
    position: fixed;
    z-index:1;
    background-color: #D3D3D3;
}
#nav-list{
    list-style: none;
    display: flex;
    padding: 5px;
    flex-direction: row-reverse;
}
.list-items{
    display: inline;
    padding: 10px;
}
.nav-button{
    padding: 5px;
    border: none;
    background: none;
    
}
#logo{
    position: absolute;
    left: 0;
    top: 5p;                        
}
#main-img{
    width: 100%;
    height: auto;
    left:0;
    z-index: 1;
}
.article-container{
    display: flex;
    justify-content: space-around;
}

#article1 {
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    padding: 3%;
    border-radius: 10px;
}

#article2 {
    background-color: white;
    margin-bottom: 5%;
    width: 90%;
    padding: 3%;
    border-radius: 10px;
}

#more {
    display: none;
}

#read-more {
    float: right;
    border-width: 0px;
    background-color: white;
    color: teal;
}

#twitter-widget {
    background-color: white;
    margin-bottom: 5%;
    width: 90%;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6%
}

#twitter-left, #twitter-right {
    flex-grow: 1;
}

#footer{
    width:98.95%;
    left: 0;
    bottom: 0;
    background-color: #D3D3D3;
    padding:10px;
}
  