body{                           /*body and bod::after css starts*/
    width:100%;
    height:100%;
    margin:0px;
}
body::after {
    content: "";
    background: url(https://preview.redd.it/iqa7q0581ak11.jpg?width=960&crop=smart&auto=webp&s=25f8b393dba3569d3cfbb706ded0e517a0db692b);
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment:scroll;
    opacity: 1;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    position: fixed;
    z-index: -2;                   
}                               /*body and bod::afer css stop*/
a:hover{           /* hover links for the whole page*/
    background-color: grey;
}
#nav-bar{                      /*nav bar css start*/
    width:100%;
    top:0;
    left:0;
    position: fixed;
    z-index:1;
    background-color: #D3D3D3;
}
#nav-list{
    list-style: none;
    display: flex;
    padding: 5px;
    flex-direction: row-reverse;
}
.list-items{
    display: inline;
    padding: 10px;
}
.nav-button{
    padding: 5px;
    border: none;
    background: none;
    
}
#logo{
    position: absolute;
    left: 0;
    top: 5p;                        /*nav bar css stop*/
}
#main-img{
    width: 100%;
    height: auto;
    opacity: 0.8;
    left:0;
    z-index: 1;
}
.container{
    display: flex;
    justify-content: space-around;
}
.article1{
    background-color: white;
    z-index: 0;
    border: solid black;
    padding: 30px;
    margin: 50px;
    width:80%;
    height: 200px;
}
#footer{
    width:98.95%;
    left: 0;
    bottom: 0;
    background-color: #D3D3D3;
    padding:10px;
}
  