body {
	font-family: Montserrat, sans-serif;
	background-color: #ededed;
	width: 100%;
	height: 100%;
	margin: 0
}

body::after {
	content: "";
	background: url(https://preview.redd.it/iqa7q0581ak11.jpg?width=960&crop=smart&auto=webp&s=25f8b393dba3569d3cfbb706ded0e517a0db692b);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-attachment: scroll;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -2
}

nav {
	font-family: Gruppo, cursive;
	border: 2px solid #3c3c3c;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: #383838;
	padding: 0
}

nav ul {
	list-style-type: none;
	float: right;
	margin-right: 80px;
	padding-left: 0
}

nav ul li {
	display: inline-block;
	line-height: 40px;
	margin: 0 5px;
	padding: 0
}

nav ul li a {
	display: block;
	margin: 0;
	padding: 0 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	color: #d3d3d3
}

a:hover {
	border-right: 3px double #000;
	border-left: 3px double #000;
	border-top: none;
	border-bottom: none;
	text-decoration: none;
	color: #d11f06;
	transition: .5s
}

.checkbtn {
	font-size: 30px;
	color: #d3d3d3;
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor: crosshair;
	display: none
}

#check {
	display: none
}

#logo {
	font-size: 1.5rem;
	line-height: 60px;
	margin-top: 0;
	padding-left: 5rem;
	padding-right: 0;
	color: #d3d3d3
}

#main-img {
	width: 100%;
	height: auto;
	left: 0;
	z-index: 1;
	margin-top: 3.7rem;
	opacity: .9
}

h1 {
	font-size: 2em;
}

.article-container {
	display: flex;
	justify-content: space-around
}

#article1 {
	background-color: silver;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 80%;
	padding: 3%;
	border-radius: 10px;
	opacity: .8
}

#article2 {
	background-color: silver;
	margin-bottom: 5%;
	width: 80%;
	padding: 3%;
	border-radius: 10px;
	opacity: .8
}

#more {
	display: none
}

#read-more {
	float: right;
	border-width: 0;
	background-color: silver;
	color: teal;
	font-family: Montserrat, sans-serif;
}

#twitter-widget {
	background-color: silver;
	margin-bottom: 5%;
	width: 80%;
	padding: 3%;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 6%;
	opacity: .8
}

#twitter-widget h1 {
	width: 100%
}

#twitter-left, #twitter-right {
	flex-grow: 1
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    background-color: #3c3c3c;
}

#footer-left, #footer-right {
    width: 40%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #3c3c3c;
    text-align: center;
    color: #d3d3d3;
}

#footer-right ul {
    list-style-type: none;
}

#footer-right a {
    color: #d3d3d3;
}


@media (max-width:952px) {
	#logo {
		font-size: 20px;
		padding-left: 50px
	}
	nav ul li a {
		font-size: 16px
	}
}

@media (max-width:858px) {
	.checkbtn {
		display: block
	}
	nav ul {
		position: fixed;
/*		width: 100%; 
This is causing the sidebar to show on 
the side at all times whenever there is 
something in the footer. Fix needed.
*/
		height: 100vh;
		background: #2e2e2e;
		top: 46px;
		left: -100%;
		text-align: center;
		transition: all .5s
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px
	}
	nav ul li a {
		font-size: 20px
	}
	a.home, a:hover {
		background: 0 0;
		color: #d11f06
	}
	#check:checked~ul {
		left: 0
    }
    
    #footer-left, #footer-right {
        width: 90%;
    }

}

.container-planetX { /*planet x css starts here*/
	display: flex;
	justify-content: center;
}
#articleX {
	color :white;
	font-size: 50px;
	margin-top: 2%;
	margin-bottom: 1%;
	width: 60%;
	padding: 2%;
	border-radius: 10px;
	opacity: .8;
	text-align: center;
}
#planetX {
	width: 80%;
	height: auto;
	border : solid silver;
}
.pageX-title{
	display : flex;
	justify-content: center;
	font-family: Gruppo, cursive; /*planet x css stops here*/
}
.embed-container {    /*youtube video*/
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; } 
	.embed-container iframe,
	.embed-container object, 
	.embed-container embed {
		position: absolute;
		 top: 0;
		  left: 0;
		   width: 100%;
		    height: 100%;
	}


.ourSolarSystemContainer {
	display: flex;
	justify-content: center;
}
#ourSolarSystem {
	color :#d3d3d3;
	font-size: 30px;
	margin-top: 1%;
	margin-bottom: 0;
	width: 85%;
	padding: 2%;
	border-radius: 10px;
	opacity: .8;
	text-align: center;
}
.solarSystem-title{
	display: flex;
	justify-content: center;
	margin-top: 4.5%;
	margin-bottom: 1%;
}
#solarSystemImg {
	margin-top:0;
	width: 100%;
	height: auto;
	border:1px solid grey;
}
#sunSection{
	border-radius:10px;
	margin: 2rem auto;
	padding-top:1rem;
	padding-left:1rem;
	padding-bottom:0.3rem;
	background-color: #383838;
	opacity: .9;
	width:90%;
	height:fit-content;
}
.planetSection {
	border-radius:10px;
	margin: 2rem auto;
	padding-top:1rem;
	padding-left:1rem;
	background-color: #383838;
	opacity: .9;
	width:80%;
	height:fit-content;
}
.planetImg {
	border:2px solid #3c3c3c;
	border-radius: 10px;
	margin: 0 1rem;
	float:left;
}
.planetSection:after {
	content: "";
	display: table;
	clear: both;
  }


